<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="loginContainer">
  <h1> Login</h1>
  <form id="loginForm" class="loginForm">
    <input type="text" id="username" placeholder="username" required><br><br>
    <input  type="password" id="password" placeholder="password" required><br><br>
    <button type="submit">Login</button>
  </form><br>

  <p id="message"></p>


  <a th:href="@{/index}">Go to Homepage</a><br><br>
  <a th:href="@{/register}">Not registered? Click here</a><br><br>
</div>
<script th:src="@{/js/login.js}"></script>
</body>
</html>
