<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="loginContainer">
  <h1> Login</h1>
  <form id="loginForm" class="loginForm">
    <input type="text" id="username" placeholder="username" required><br><br>
    <input  type="password" id="password" placeholder="password" required><br><br>
    <button type="submit">Login</button>
  </form><br>

  <p id="message"></p>

  <script>
    const form = document.getElementById('loginForm')

    form.addEventListener('submit', async (event) => {
      event.preventDefault();

      const username = document.getElementById('username').value;
      const password = document.getElementById('password').value;

      const response = await fetch('/loginVoter', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({ username, password }),
        credentials: "include"
      });

      const message = document.getElementById('message');
      if (response.ok) {
        const text = await response.text();
        if (text.includes("success")) {
          message.textContent = text;
          message.style.color = "green";
          setTimeout(() => {
            window.location.href = "/voter/dashboard"; // Needs to be changed to redirect to voter dashboard
          }, 1000);
        } else {
          message.textContent = "Invalid username or password.";
          message.style.color = "red";
        }
      }
    });
  </script>

  <a th:href="@{/index}">Go to Homepage</a><br><br>
  <a th:href="@{/register}">Not registered? Click here</a><br><br>
</div>
</body>
</html>
