<!DOCTYPE html>
<html>
<head>
    <title>Voter Registration</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div>
    <h1>Register as a Voter</h1>
    <form id="registerForm">
        <input type="text" id="username" placeholder="Username" required><br><br>
        <input type="password" id="password" placeholder="Password" required><br><br>
        <input type="password" id="confirmPassword" placeholder="Confirm Password" required><br><br>
        <select name="role" id="role" required>
            <option value="">Select Role</option>
            <option value="admin">Administrator</option>
            <option value="voter">Voter</option>
        </select><br><br>

        <button type="submit">Save</button>
    </form>

    <p id="message"></p>


    <a th:href="@{/login}">Back to Login</a>
</div>
<script th:src="@{/js/register.js}"></script>
</body>
</html>